.container {
  height: 100vh;
  width: 100vw;
}
.container .topbox {
  height: 300px;
  background: #c8e0ec;
}
.container .table {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .table .header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}
.container .table .header .shadow {
  position: absolute;
  top: 31px;
}
.container .table .header .hcol {
  display: flex;
  background-color: #e5e8eb;
  border-color: #DFDFDF;
  justify-content: space-between;
  padding: 0 7px;
  height: 30px;
  align-items: center;
  cursor: pointer;
  color: #1F384D;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
  width: 100%;
}
.container .table .header.fixed {
  background: #e5e8eb;
  z-index: 99;
  position: fixed;
  top: 0px;
}
.container .table .header.fixed .shadow {
  height: 3px;
  width: 100%;
  background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x;
}
.container .table ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 32px;
  width: 100%;
}
.container .table ul li {
  width: 100%;
  min-height: 83px;
  border-bottom: 1px solid #DFDFDF;
}
.container .table ul li .heading {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: 83px;
  cursor: pointer;
  transition: background 0.5s;
}
.container .table ul li .heading .col {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  height: 83px;
  border-right: 1px solid #DFDFDF;
}
.container .table ul li .content {
  width: 100%;
  height: 0px;
  opacity: 0;
  transition: height 1s;
}
.container .table ul li.open .heading {
  background: #4d98bc;
  color: #ffffff;
}
.container .table ul li.open .heading .col {
  border: none;
}
.container .table ul li.open .content {
  height: 300px;
  opacity: 1;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}